* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Layers/Space_Background.png");
}

#canvas {
    border: 5px solid #00008b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #7442c8;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Silkscreen';
    font-weight: 400;
}

#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#layer6,
#layer7,
#layer8,
#layer9,
#layer10,
#layer11,
#layer12,
#layer13,
#player,
#player2,
#player3,
#projectile1,
#projectile2,
#projectile3,
#enemy1,
#enemy2,
#enemy3 {
    display: none;
}