@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen-Regular.eot');
    src: url('./fonts/Silkscreen-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Silkscreen-Regular.woff2') format('woff2'),
        url('./fonts/Silkscreen-Regular.woff') format('woff'),
        url('./fonts/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Silkscreen';
}

#canvas {
    position: absolute;
    /* Убедиться, что канвас всегда помещается в видимую область экрана браузера */
    max-width: 100%;
    max-height: 100%;
    background: #7442c8;
    font-family: 'Silkscreen';
    font-weight: 400;
}

.display {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FBA0E3;
    transform: translate(-50%, -50%);
    background: #004524;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: auto;
}

.assets {
    display: none;
}

.header {
    margin-bottom: 16px;
    padding-top: 16px;
    text-align: center;
}

.header__title {
    position: relative;
    text-shadow: 2px 2px 3px #ef24c7;
}

.header__title::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url("../Assets/icons/splash-icon.png");
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }

.header__title::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -40px;
    width: 30px;
    height: 30px;
    background-image: url("../Assets/icons/splash-icon-inv.png");
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.section {
    width: 600px;
    margin-bottom: 16px;
    padding-top: 16px;
    text-align: center;
}

.section__title {
    margin-bottom: 16px;
    text-shadow: 2px 2px 3px #ef24c7;
    
}

.list {
    text-align: left;
    list-style-type: none;
}

.list__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.list__item::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url("../Assets/icons/icon-list.png");
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.list__item span {
    text-shadow: 2px 2px 3px #ef24c7;
}

.display__button {
    font-family: 'Silkscreen';
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FBA0E3;
    cursor: pointer;
    border: 1px solid #ef24c7;
    text-shadow: 2px 2px 3px #ef24c7;
}

@media screen and (max-width: 768px) {
    .section {
        width: 100%;
        max-width: 100%;
    }

    .list__item {
        position: static;
    }
}